branches:
  - name: main
    protection:
      required_pull_request_reviews:
        required_approving_review_count: 1
        dismiss_stale_reviews: true
      required_status_checks:
        strict: true
        contexts:
          - lint-docs-and-links
          - validate-openapi
          - validate-json-schema
          - validate-cross-domain
      enforce_admins: true
      required_linear_history: true
      required_conversation_resolution: true
      allow_force_pushes: false
      allow_deletions: false
